
<%@articles.each do |article|%>


<div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>

        <img src="/images/avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity"><%=Random.rand(11)%> min</span>
        <h1><%=  link_to article.title,article%></h1><br>
        <span class="w3-left w3-opacity"><%=article.user.email%></span>
            <hr class="w3-clear">
            <p><%= article.body%></p>        
            <button type="button" class="w3-button w3-black w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> &nbsp;Me interesa</button>
            <button type="button" class="w3-button w3-black w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> &nbsp;Comentar</button>
			<%= link_to "editar" , edit_article_path(article)%> - <%= link_to "eliminar" , article, method: :delete%></p>


</div>


<%end%>