

	
	<%= form_for(@article) do |f|%>

	<div class="w3-container w3-card-2 w3-white w3-round" style="margin: 0% 2% 2% 2%">
		<div class= "w3-col m12">
			<div class=" w3-round w3-white">
				<div class="w3-container w3-padding">
					<h6 class="w3-opacity">El conocimiento viene, la sabiduría se queda. </h6>
					 
					<% @article.errors.full_messages.each do |message|%>
						<div>
							* <%=message%>
						</div>
					<% end %>
					<h1>Crear una publicacion</h1><br>
					<div class="field w3-container">
						<%= f.text_field:title,placeholder:"Publica lo que estas necesitando", class: "w3-border w3-padding text_field"%>	
					</div>

					<div class="field w3-container ">
						<%= f.text_area:body,placeholder:"Escribe una descripcion mas especifica", class: "w3-border w3-padding text_area_home" %>	
					</div>
					<div class="field">
						<%=f.submit:"Guardar",class: "w3-button w3-black w3-theme"%>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>

<%end%>	


