
<div class="w3-center w3-container">
	<br>
		<h1>Titulo del articulo: <%= @article.title%></h1>
		<br>
		<h2>Cuerpo: <%= @article.body%></h2> 

		<p class="w3-opacity">
			Estrito por <%= @article.user.email %><br>
			Estrito por <%= @article.user.name %>
		</p>
		<br>
			<h3>Comentarios</h3>
				<%= render 'comments/form'%>
				<ul id="comments-box">
				<li>
					<% @article.comments.each do |comments|%>
						<%= comments.body %> - <%= comments.user.email %>
						<br>
					<%end%>	
				</li>
				</ul>	
		</div>
</div>

